$font-base: "Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
$color-golden: rgb(182, 141, 37);
$color-grey: #545454;
$color-crimson: #f5efdb;
$color-gray: #aaaaaa;
$color-white: #fff;

